<div data-collapsible>
    <div data-title (click)="toggleContent()">
        <h2 data-title-text>{{ title }}</h2>
        <teq-icon type="collapse" [orientation]="isExpanded ? 'right' : 'left'"></teq-icon>
    </div>

    <teq-entity-collapse [collapse]="!isExpanded" (click)="toggleContent()">
        <p>{{content}}</p>
        <span *ngIf="url && (url.uk || url.de)">Supporting links:</span>
        <div data-url *ngIf="url && url.uk">
            <a [href]="url.uk" rel="noopener noreferrer" target="”_blank”" (click)="$event.stopPropagation()">[UK] [{{title}}]</a>
        </div>
        <div data-url *ngIf="url && url.de">
            <a [href]="url.de" rel="noopener noreferrer" target="”_blank”" (click)="$event.stopPropagation()">[DE] [{{title}}]</a>
        </div>
    </teq-entity-collapse>
</div>
