@use 'variables/colors' as colors;
@use 'typography' as typography;

:host {
    display: flex;
    width: 100%;

    & > [data-content] {
        display: flex;

        flex-direction: column;

        flex: 1;

        & > [data-role],
        & > [data-purpose],
        & > [data-how],
        & > [data-wyn],
        & > [data-results] {
            margin-top: 1.5rem;

            & p {
                margin: 0;
            }
        }

        & [data-section-title] {
            @include typography.apply('condensed');
            color: colors.$light-gray2;

            margin-bottom: 0.5rem;
        }

        & [data-section-text] {
            @include typography.apply('content+');
            color: colors.$dark-gray;
        }

        & > [data-role] {
            & > teq-label::ng-deep > div {
                padding: 0.375rem;
                @include typography.apply('content+');
                color: colors.$dark-gray;
            }
        }
    }
}
