@use 'variables/colors' as colors;
@use 'typography' as typography;

:host {
    width: 30.625rem;
    min-height: 34.125rem;
    max-height: 44.75rem;
    height: fit-content;

    padding: 1.5rem 1.5rem 0 1.5rem;

    background: colors.$white;

    & > article {
        & > section {
            width: 27.625rem;

            min-height: 24.375rem;
            max-height: 34.6875rem;
            height: fit-content;

            overflow-y: auto;
            overflow-wrap: break-word;
        }

        & > header,
        & > footer {
            padding: 1rem 0;

            & > h2 {
                @include typography.apply('login');
            }

            & > a {
                @include typography.apply('bold');
                color: colors.$active-link-item-background;

                text-decoration: none;
            }
        }
    }
}
