@use 'variables/colors' as colors;
@use 'typography' as typography;

:host {
    width: 61.25rem;
    min-height: 34.125rem;
    max-height: 44.75rem;
    height: fit-content;

    padding: 1.5rem;

    background: colors.$white;

    position: relative;

    & > article {
        & > section {
            min-height: 24.375rem;
            max-height: 34.6875rem;
            height: fit-content;

            overflow-y: auto;
            overflow-wrap: break-word;
        }

        & > header {
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;

            & > teq-icon ::ng-deep svg {
                & path {
                    fill: colors.$black !important;
                }

                cursor: pointer;
                width: 1.75rem;
                height: 1.75rem;

                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
            }

            & > h2 {
                @include typography.apply('login');
            }
        }
    }
}
