@use 'typography' as typography;
@use 'variables/colors' as colors;
@use 'variables/shadows' as shadows;

:host {
    & > div {
        display: flex;
        flex: 1;

        height: 3rem;
        padding: 0 1.5rem;

        align-items: center;

        background: #ffffff;

        @include shadows.subphase-box-shadow();

        &[data-disabled='true'] {
            background-color: colors.$white-gray;

            color: colors.$light-gray2;
        }

        // padding-top: 2px;
        padding-top: 0.125rem;

        @include typography.apply('subphase');
        color: colors.$subphase-title-color;

        & > teq-information-provider {
            margin-left: 0.5rem;
            // margin-top: -2px;
            margin-top: -0.125rem;

            & ::ng-deep path {
                fill: colors.$light-gray;
            }
        }

        & [data-controls] {
            display: flex;

            flex: 1;

            align-items: center;
            justify-content: flex-end;

            & > teq-toggle ::ng-deep > label {
                border: none;
                padding: 0;
            }
        }
    }
}
