.understand {
    background-color: #009ddc;
}

.innovate,
.consultant {
    background-color: #8fd400;
}

.execute {
    background-color: #ff7900;
}

.improve,
.project-leader {
    background-color: #f12938;
}
