@use 'variables/colors' as colors;

* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
}

.h-divider {
    height: 1px;
    background: colors.$mid-gray;
}

.v-divider {
    width: 1px;
    background: colors.$mid-gray;
    margin: 0 2rem;
}
