<div data-approach-title>
    {{ approach.name }}

    <teq-information-provider data-svg-ignore-all [id]="approach.id" [type]="'approach'" [entity]="approach" />

    <div data-controls data-svg-ignore-all>
        <teq-toggle *ngIf="disableable" [value]="!(approach.disabled)" (change)="toggleDisableState()" [disabled]="disabled" />
    </div>
</div>

<div data-approach-roles-wrapper>
    <teq-label *ngFor="let role of approach?.roles" [borderColor]="role.color">
        <div>
            <span>{{ role.name }}</span>
        </div>
    </teq-label>
</div>

<div data-approach-tasks>
    <div *ngFor="let task of approach?.tasks">
        <teq-task [task]="task" [disabled]="disabled || approach.disabled"></teq-task>
    </div>
</div>
