@use 'typography' as typography;
@use 'variables/page' as page;

:host {
    & > div {
        display: flex;
        flex-wrap: nowrap;
        @include typography.apply('content+');
        gap: 0.75rem;

        opacity: 0;
        transition: opacity 0.5s linear;

        &[data-initialised='true'] {
            opacity: 1;
            flex-wrap: wrap;
        }

        & > teq-label ::ng-deep div {
            display: flex;

            height: 100%;

            align-items: center;
        }
    }

    @media (max-width: page.$laptop-medium) {
        & > div {
            gap: 0.55rem;
        }
    }

    @media (max-width: page.$laptop-small) {
        & > div {
            gap: 0.45rem;
        }
    }
}
