<div [attr.data-initialised]="initialised">
    <teq-label *ngFor="let role of roles | slice:0:computedLength" [borderColor]="role.role.color" [attr.data-role]="role.role.name">
        <div>
            <span [innerHTML]="role.role.name | highlighter : term"></span>
        </div>

        <teq-badge #badge *ngIf="role.count !== undefined" [backgroundColor]="role.role.color" [color]="'#ffffff'" [attr.data-phase]="phase.name | lowercase"
            >{{ role.count }}</teq-badge
        >
    </teq-label>

    <teq-label [borderColor]="'#bdbcbc'" *ngIf="initialised ? roles.length > computedLength : false" data-more>
        <div>
            <span>{{ initialised ? roles.length - length : length }} more...</span>
        </div>
    </teq-label>
</div>
