<h1 data-title>Roles</h1>

<div data-content>
    <teq-side-list [items]="computedItems" [value]="selected" (valueChange)="selectionChanged($event)"></teq-side-list>

    <div *ngIf="currentAggregation" @fadeIn>
        <teq-tabs [tabs]="tabs" [item]="selected"></teq-tabs>

        <div>
            <h3>{{ "Phases contributing to" | uppercase }}</h3>
            <div data-phase-wrapper>
                <teq-phase-tab *ngFor="let phase of currentAggregation.phases" [phase]="phase"></teq-phase-tab>
            </div>
        </div>

        <div>
            <h3>{{ "Subphases contributing to" | uppercase }}</h3>
            <div data-subphases-wrapper>
                <teq-subphase-tab *ngFor="let subphase of currentAggregation.subphases" [subphase]="subphase"></teq-subphase-tab>
            </div>
        </div>

        <div>
            <h3>{{ "Tasks responsible for" | uppercase }}</h3>
        </div>
        <table>
            <thead data-table-head>
                <tr>
                    <th *ngFor="let header of tableHeaders; index as i">
                        <span>{{ header.name }}</span>
                        <teq-icon type="sort" [attr.data-sort]="header.sortDirection" (click)="sort(i)"></teq-icon>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of currentAggregation?.rows">
                    <td *ngFor="let cell of row">{{ cell.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
