@use 'typography' as typography;
@use 'variables/colors' as colors;
@use 'variables/shadows' as shadows;

:host {
    display: block;
    margin-bottom: 2.5rem;

    &[data-disabled='true'] {
        & [data-method-title] {
            & > span {
                transition: color, background-color 0.5s linear;
                background: colors.$mid-gray;
                color: colors.$light-gray;
            }
        }
    }

    &[data-collapsed='true'] {
        margin-bottom: 0;
        transition: 0.5s ease-in-out margin;

        // & > [data-approach-title] {
        //     padding-bottom: 0;
        //     transition: 0.5s ease-in-out padding;
        // }
    }

    & [data-method-title] {
        display: flex;
        align-items: center;

        flex: 1;

        padding: 0.625rem 1rem;
        margin-bottom: 0.5rem;

        background: colors.$mid-gray;

        & > span {
            @include typography.apply('method');
            color: colors.$method-title-color;
        }

        & [data-controls] {
            display: flex;

            flex: 1;

            align-items: center;
            justify-content: flex-end;

            & > teq-toggle ::ng-deep > label {
                border: none;
                padding: 0;

                gap: 0;
            }

            & > teq-icon {
                margin-left: 0.5rem;
                padding-left: 0.5rem;

                ::ng-deep > svg {
                    width: 11px;
                    height: 11px;
                }
            }
        }
    }

    & > teq-entity-collapse {
        & [data-approach-container] {
            @include shadows.card-b-shadow();

            & > div > teq-approach {
                border-top: 1px solid colors.$method-divider-gray;
                padding-bottom: 2rem;
            }

            & > div:nth-of-type(1) > teq-approach {
                border-color: colors.$white-gray;
            }

            & > div:last-of-type > teq-approach {
                padding-bottom: 1rem;
            }
        }
    }
}
