<h1 data-title>FAQ</h1>

<div data-controls>
    <teq-select
        formControlName="'term'" [value]="term" [label]="'Search...'" [searchable]="true" [options]="[]" [attr.data-for]="'term'" [searchIcon]="true" [multiple]="false" (input)="termChanged($event)" />
</div>

{{ term }}

<div data-content>
    <teq-side-list [items]="(computedItems$ | async) || []" [value]="selected" (valueChange)="selectionChanged($event)"></teq-side-list>

    <div *ngIf="current" [innerHTML]="current.answer"></div>
</div>
