:host {
    & > form {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .v-divider {
        height: 1.875rem;
    }

    & teq-select[data-for='role'] {
        min-width: 10.5rem;
    }
}
