:host {
    & > form {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .v-divider {
        height: 1.875rem;
    }

    & teq-select[data-for='4'] {
        // Roles select min width
        min-width: 11.5rem;
    }

    & teq-select[data-for='3'] {
        // Complexity select min width
        min-width: 8rem;
    }
}
