@use 'typography' as typography;
@use 'variables/colors' as colors;
@use 'variables/shadows' as shadows;

:host {
    display: flex;
    flex: 1;

    & [data-phase] {
        display: flex;
        align-items: center;

        padding: 0 1.5rem;
        flex: 1;

        gap: 0.5rem;

        @include shadows.phase-box-shadow();

        @include colors.phase-color(data-phase) using ($color) {
            background-color: $color;
        }

        & > span {
            @include typography.apply('subphase');
            color: colors.$phase-title-color;
        }

        & > teq-information-provider {
            width: 1rem;
            height: 1rem;

            & ::ng-deep path {
                fill: colors.$white;
            }
        }
    }
}
