<div data-controls @fadeIn>
    <div>
        <div data-back-link></div>

        <div data-pagination>
            <teq-toggle *ngIf="enableVisibility" (change)="toggleVisibilityFilter()" formControlName="" [value]="filterDisabled" [label]="'Hide disabled'" [attr.data-for]="''"></teq-toggle>

            <teq-pagination [pagination]="pagination" (paginationChanged)="paginationChanged($event)" [maxPages]="phases?.length || 1" />
        </div>

        <div data-printing>
            <button *ngIf="!preview" (click)="generateSVG()">Export full framework</button>
            <button *ngIf="preview" (click)="generateSVG()">Save SVG for printing</button>
            <button *ngIf="preview" (click)="generateTeq()">Export .TEQ file</button>
        </div>
    </div>
</div>

<teq-tree-viewer [zoom]="pagination.zoom" [page]="pagination.page" [phases]="phases" (scaleChanged)="scaleChanged($event)" [filterDisabled]="filterDisabled"></teq-tree-viewer>

<teq-svg [attr.data-svg-renderer]="true" *ngIf="(svgOptions$ | async)?.contents?.length" [options]="svgOptions$ | async"></teq-svg>
