@use 'variables/colors' as colors;
@use 'typography' as typography;
@use 'variables/shadows' as shadows;
@use 'variables/page' as page;
@use 'variables/layers' as layers;

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;

    & [data-controls] {
        position: fixed;
        z-index: layers.$pageControlsLayer;

        display: flex;

        width: 100%;

        padding: 0 page.$page-horizontal-margin;
        margin: 0 page.$page-horizontal-margin * -1;

        background-color: colors.$white;

        & > div {
            display: flex;
            flex: 1;

            // padding-bottom: 10px;
            padding-bottom: 0.625rem;

            border-bottom: 1px solid colors.$light-gray;

            & > div {
                // height: 36px;
                height: 2.25rem;
            }

            & > [data-back-link] {
                flex: 1;

                display: flex;
                align-items: center;

                & > a {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;

                    padding: 0.5rem 0;

                    @include typography.apply('bold');

                    color: colors.$active-link-item-background;
                    text-decoration: none;

                    cursor: pointer;
                }
            }

            & > [data-pagination] {
                display: inline-flex;

                & > teq-toggle {
                    margin-right: 1rem;
                }
            }

            & > [data-printing] {
                display: inline-flex;

                align-items: center;

                gap: 0.5rem;

                & > button {
                    // height: 32px;
                    height: 2rem;

                    // padding: 8px 16px;
                    padding: 0.5rem 1rem;

                    border-style: solid;
                    border-width: 1px;

                    @include typography.apply('condensed', true);

                    &:not(:disabled):hover {
                        cursor: pointer;
                    }
                }

                & > button:first-of-type {
                    border-color: colors.$active-link-item-background;
                    color: colors.$active-link-item-background;
                    background-color: transparent;

                    &:not(:disabled):hover {
                        background-color: colors.$button-hover-color;
                    }
                }

                & > button:nth-last-of-type(1) {
                    border-color: colors.$active-link-item-background;
                    background-color: colors.$active-link-item-background;
                    color: colors.$white;

                    &:not(:disabled):hover {
                        background-color: rgba(colors.$active-link-item-background, 0.85);
                    }
                }
            }
        }
    }

    & [data-phase-mask] {
        // padding-top: 36px;
        padding-top: 2.25rem;
        overflow-x: clip;

        & [data-phase-wrapper] {
            display: flex;

            transform-origin: top left;
            transition: transform 0.15s linear;
            // transform: scale(1,1) translateX(4px);
            transform: scale(1, 1) translateX(0.25rem);

            & > div {
                display: flex;

                flex-direction: column;

                & [data-phase] {
                    position: sticky;
                    // top: 143px;
                    top: 8.9375rem;

                    transition: top 0 ease-out;

                    padding: 1rem;
                    padding-bottom: 0;
                    background-color: white;
                }
            }

            & [data-subphase-wrapper] {
                display: flex;

                flex: 1;

                & > div {
                    flex: 1;
                }

                & :first-child > [data-subphase] > teq-subphase {
                    border-right: 1px solid colors.$light-gray;
                }

                & [data-subphase] {
                    position: sticky;
                    // top: 222px;
                    top: 13.875rem;

                    transition: top 0 ease-out;
                }

                & :first-child > [data-subphase] {
                    padding-left: 1rem;
                }

                & :last-child > [data-subphase] {
                    padding-right: 1rem;
                }

                & :first-child > [data-method] {
                    margin-left: 1.5rem;
                    padding: 0 1rem;
                }

                & :last-child > [data-method] {
                    margin-right: 1.5rem;
                    padding: 0 1rem;
                }
            }
        }
    }

    teq-phase {
        // margin-bottom: 8px;
        margin-bottom: 0.5rem;
    }

    teq-subphase {
        margin-bottom: 2rem;
    }

    teq-svg {
        display: none;
    }
}
