<div [attr.data-phase]="phase.name.toLowerCase()" data-phase (click)="phaseClicked.emit()" [attr.data-disabled]="disabled || phase.disabled">
    <span [innerHTML]=" phase.name | highlighter: term"></span>
    <teq-information-provider data-svg-ignore-all [id]="phase.id" [type]="'phase'" [entity]="phase" [innerMatch]="phase.matches?.innerMatch" />
    <teq-icon data-svg-ignore-all *ngIf="showArrow" type="arrow" />

    <!-- <div *ngIf="!showArrow" data-controls data-svg-ignore-all>
        <teq-toggle *ngIf="disableable" [value]="!(phase.disabled)" (change)="toggleDisableState()" [disabled]="disabled" />
    </div> -->
</div>

<div data-subphase>
    <div *ngFor="let subphase of phase?.subphases">
        <teq-subphase [subphase]="subphase" [disableable]="disableable" [disabled]="disabled || false" [term]="term"></teq-subphase>
    </div>
</div>
