<div data-approach-title>{{ approach?.name }}</div>

<div data-approach-roles-wrapper>
    <teq-label *ngFor="let role of approach?.roles" [borderColor]="role.color">
        <div>
            <span>{{ role.name }}</span>
        </div>
        <!-- <teq-badge *ngIf="role.count !== undefined" [backgroundColor]="role.color" [color]="'#ffffff'">{{ role.count }}</teq-badge> -->
    </teq-label>
</div>

<div data-approach-tasks>
    <div *ngFor="let task of approach?.tasks">
        <teq-task [task]="task"></teq-task>
    </div>
</div>
